[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST={{ env }}-dev.saraldevops.site
Environment=MONGO_URL="mongodb://mongodb-{{ env }}.saraldevops.site:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target